## ETL del Dataset VICTIMAS HOMICIDIOS

In [207]:
#Cargamos las librerias necesarias
import pandas as pd

Procedemos a cargar el dataframe 'VICTIMAS'

In [208]:
homicidios_victimas = pd.read_excel('homicidios.xlsx', sheet_name='VICTIMAS')
homicidios_victimas

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,2021-12-12,2021,12,12,PEATON,PEATON,FEMENINO,50,2021-12-12 00:00:00
713,2021-0093,2021-12-13,2021,12,13,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
714,2021-0094,2021-12-20,2021,12,20,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
715,2021-0095,2021-12-30,2021,12,30,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
716,2021-0096,2021-12-15,2021,12,15,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00

Procedemos a mostrar información sobre el tipo de columna de nuestro dataframe

In [209]:
homicidios_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

Las columna EDAD tienen un tipo de dato incorrecto, procederemos a cambiarlo, cabe destacar que el dataframe no presenta valores nulos pero despues de hacer una inspección visual si detectamos valores SD (Sin Dato).

Vamos a transformar el tipo de datos de la columna EDAD, teniendo en cuenta los registros sd (Sin Dato) los cuales los sustituiremos con -1 para posteriormente imputarlos

In [210]:
# Al aplicar el parámetro coerce todos los valores SD se transformaran en NaN
# los cuales sustituiremos por -1
homicidios_victimas['EDAD'] = pd.to_numeric(homicidios_victimas['EDAD'], errors='coerce').fillna(-1).astype(int)
print(homicidios_victimas['EDAD'].dtype)

int32

La columna 'FECHA_FALLECIMIENTO' tambien tiene valores SD, vamos a sustituirlos por el valor del campo FECHA, asumiendo que murieron el mismo dia del accidente

In [211]:
# Definimos una función para reemplazar el valor 'SD' por el valor de 'FECHA'
def reemplazar_fecha_fallecimiento(row):
    if row['FECHA_FALLECIMIENTO'] == 'SD':
        return row['FECHA']
    else:
        return row['FECHA_FALLECIMIENTO']

# Aplica la función a la columna 'FECHA_FALLECIMIENTO'
homicidios_victimas['FECHA_FALLECIMIENTO'] = homicidios_victimas.apply(reemplazar_fecha_fallecimiento, axis=1)

De la siguiente manera quedo nuestro dataframe, en el proceso de EDA seguiremos profundizando en estos datos.

In [212]:
homicidios_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    int32
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int32(1), int64(3), object(5)
memory usage: 53.3+ KB

Exportamos nuestros datos en un formato csv para realizar el EDA.

In [213]:
homicidios_victimas.to_csv('homicidios_victimas.csv', index=False)